body {
  margin: 20px;
}

#banner{
  max-height: 250px;
  background-image: url(https://valenciacollege.edu/future-students/images/h-1600x250-associate-degrees.jpg);
}

h1{
  font-family: 'montserratbold';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

h2{
  background-color: grey;
  padding: 10px;
  width: 50%;
  font-family: 'montserratbold';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
