.logo img{
    width:100%;
}
.BAS, .paths {
    padding-top: 2%;
    padding-bottom: 2%;
}
footer p{
    padding-top:2%;
    text-align:center;
}

h3 a.compcolor {
    color:#fdb913;
}

h3 a.devcolor {
    color:#bf311a;
}

.card-img-top {
    width: 30vw;
    height: 47vh;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

div.path-info {
    position: relative;
}

div.overlay {
    z-index: 1;
    width: 80%;
    color:white;
}