.logo img{
    width:100%;
}
.BAS, .paths {
    padding-top: 2%;
    padding-bottom: 2%;
}
footer p{
    padding-top:2%;
    text-align:center;
}

h3 a.compcolor {
    color:#fdb913;
}

h3 a.devcolor {
    color:#bf311a;
}