* {
    box-sizing: border-box
}

body {
    color: #000;
    font-family: "Montserrat",sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 1;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body.inactivescreen {
    overflow-y: hidden
}

.accessible {
    padding: 10px;
    position: absolute;
    left: -9999em;
    background: #fff
}

.accessible ul {
    text-align: right
}

.accessible ul li {
    margin: 0 0 0 .5em;
    display: inline
}

.accessible.show {
    position: relative;
    left: 0
}

.wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

@media(min-width: 768px) {
    .wrap {
        width:720px
    }
}

@media(min-width: 992px) {
    .wrap {
        width:960px
    }
}

@media(min-width: 1200px) {
    .wrap {
        width:1140px
    }
}

#content-container .wrap {
    display: flex;
    flex-wrap: wrap
}

#col-nav,#col-content {
    padding-top: 20px;
    padding-bottom: 20px
}

@media(min-width: 768px) {
    #col-nav,#col-content {
        padding-top:45px;
        padding-bottom: 45px
    }
}

#col-nav {
    flex: 0 0 100%
}

@media(min-width: 768px) {
    #col-nav {
        flex:0 0 30.25%;
        max-width: 30.25%
    }
}

@media(min-width: 992px) {
    #col-nav {
        flex:0 0 23%;
        max-width: 23%
    }
}

@media(min-width: 768px) {
    #col-content {
        flex:0 0 65%;
        max-width: 65%;
        margin-left: auto
    }
}

@media(min-width: 992px) {
    #col-content {
        flex:0 0 74%;
        max-width: 74%
    }
}

#header {
    background: #bf311a;
    padding: 0;
    position: relative;
    transition: all .4s ease
}

#header .wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 1rem 5px
}

@media(min-width: 992px) {
    #header {
        padding:0;
        height: 57px
    }
}

#logo img {
    display: block;
    width: auto;
    height: 30px
}

#logo a {
    display: block;
    padding: 3px 8px 0 0;
    margin: -2px 0 5px -1px
}

#local-header {
    background: #808285;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/catalog-header.png");
    background-position: top center;
    height: 50vh;
    max-height: 250px;
    position: relative
}

#local-header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,.25)
}

#local-header .wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1
}

#site-title {
    position: relative
}

#site-title h1,#site-title h2 {
    color: #fff;
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: .05rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,.3)
}

#site-title h1 a,#site-title h2 a {
    color: inherit;
    text-decoration: none
}

#valencia-nav {
    display: none;
    flex: 0 0 100%
}

@media(min-width: 992px) {
    #valencia-nav {
        flex:1 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
}

@media(max-width: 991px) {
    #valencia-nav.active {
        display:block
    }
}

@media(min-width: 992px) {
    #valencia-nav ul li {
        float:left
    }
}

#valencia-nav ul li a {
    display: block;
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
    line-height: 1.85;
    text-transform: none;
    transition: all .2s ease;
    padding: .5rem 0
}

@media(min-width: 992px) {
    #valencia-nav ul li a {
        font-size:.75rem;
        font-weight: 600;
        padding: .5rem;
        text-decoration: none;
        text-transform: uppercase
    }
}

#valencia-nav ul li a:hover,#valencia-nav ul li a:focus {
    color: #fdb913;
    text-decoration: none
}

#valencia-nav ul li.isparent {
    position: relative
}

#valencia-nav ul li.isparent>a {
    position: relative
}

#valencia-nav ul li.isparent>a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

#valencia-nav ul ul {
    background: #fff
}

@media(min-width: 992px) {
    #valencia-nav ul ul {
        position:fixed;
        z-index: 50;
        left: 105%;
        top: 105%;
        border-top: 3px solid #fdb913;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.175);
        min-width: 255px;
        padding: .5rem 0
    }

    #valencia-nav ul ul::before,#valencia-nav ul ul::after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        pointer-events: none;
        position: absolute
    }

    #valencia-nav ul ul::before {
        border-color: rgba(253,185,19,0);
        border-bottom-color: #fdb913;
        border-width: 17px;
        margin-left: -5px
    }

    #valencia-nav ul ul::after {
        border-color: rgba(255,255,255,0);
        border-bottom-color: #fff;
        border-width: 12px;
        margin-left: 0px
    }

    #valencia-nav ul ul.active {
        position: absolute
    }
}

@media(max-width: 991px) {
    #valencia-nav ul ul {
        display:none
    }
}

#valencia-nav ul ul.active {
    left: 0;
    display: block
}

#valencia-nav ul ul li {
    float: none
}

#valencia-nav ul ul a {
    display: block;
    font-size: .9rem;
    font-weight: 500;
    text-transform: none;
    padding: .25rem 1.5rem;
    color: #555;
    width: 100%
}

#valencia-nav ul ul a:hover,#valencia-nav ul ul a:focus {
    background: #fdb913;
    color: #222;
    text-decoration: none
}

#valencia-nav ul ul a .icon-padding {
    margin-right: .55em
}

#valencia-nav ul li.active>a {
    background: #787a7d
}

#valencia-nav ul li.active ul {
    position: absolute;
    left: 0
}

#hamburger {
    background: none;
    text-align: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: .125rem;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    cursor: pointer
}

#hamburger .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

@media(min-width: 992px) {
    #hamburger {
        display:none
    }
}

.search {
    width: 100%;
    padding: .5rem 0
}

@media(min-width: 992px) {
    .search {
        width:auto
    }
}

.search form {
    position: relative
}

.search input[type=text] {
    width: 100%;
    line-height: normal;
    border-radius: 0;
    border: none;
    padding: 10px 40px 10px 10px;
    font-weight: 600
}

@media(min-width: 992px) {
    .search input[type=text] {
        padding:.6em;
        font-size: 12px;
        margin-bottom: 3px
    }
}

.search ::-webkit-input-placeholder {
    opacity: .6
}

.search :-moz-placeholder {
    opacity: .6
}

.search ::-moz-placeholder {
    opacity: .6
}

.search :-ms-input-placeholder {
    opacity: .6
}

.search button {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    color: #555
}

@media(min-width: 992px) {
    .search button {
        top:-3px
    }
}

#sidebar {
    display: none
}

@media(min-width: 768px) {
    #sidebar {
        display:block;
        position: -webkit-sticky;
        position: sticky;
        top: 1rem
    }
}

#sidebar.active {
    display: block
}

#sidebar .sidebar-item {
    background: #ece9ea;
    border: none;
    margin-bottom: 30px
}

#sidebar .sidebar-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #dee2e6
}

#sidebar .sidebar-header a {
    color: inherit;
    text-decoration: none
}

#sidebar-toggle {
    background: #ece9ea;
    border: 1px solid #dee2e6;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase
}

#sidebar-toggle i {
    margin-right: 10px;
    font-weight: normal
}

@media(min-width: 768px) {
    #sidebar-toggle {
        display:none
    }
}

@media(max-width: 767px) {
    #edition {
        display:none
    }
}

#cl-menu ul.nav li {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.125)
}

#cl-menu ul.nav li a {
    display: block;
    text-decoration: none;
    position: relative;
    color: inherit;
    padding: 10px 15px
}

#cl-menu ul.nav li a:hover,#cl-menu ul.nav li a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #bf311a
}

#cl-menu ul.nav li.active>a {
    font-weight: bold
}

#cl-menu ul.nav ul.nav {
    background-color: #fef2cc;
    border-top: 1px solid rgba(0,0,0,.125)
}

#cl-menu ul.nav ul.nav li a {
    font-size: 15px;
    padding-left: 30px
}

#cl-menu ul.nav ul.nav li:last-child {
    border-bottom: 0
}

#cl-menu ul.nav ul.nav li.self>a {
    font-weight: bold
}

#cl-menu ul.nav ul.nav ul.nav {
    background-color: #fdf8e8
}

#cl-menu ul.nav ul.nav ul.nav a {
    padding: 7px 0;
    padding-left: 45px
}

#cl-menu.togglenav li.isparent:not(.active):not(.self)>ul.nav {
    display: none
}

#cl-menu.togglenav button {
    width: 35px;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer
}

#cl-menu.togglenav button:hover,#cl-menu.togglenav button:focus {
    background: #dee2e6
}

#cl-menu.togglenav button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#cl-menu.togglenav button:after {
    content: "";
    font-family: FontAwesome;
    speak: none
}

#cl-menu.togglenav button.open:after {
    content: ""
}

#breadcrumb {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #f3f5f8;
    line-height: 1.825
}

#breadcrumb ul:before,#breadcrumb ul:after {
    content: " ";
    display: table
}

#breadcrumb ul:after {
    clear: both
}

#breadcrumb li {
    color: #000;
    float: left;
    padding-right: 8px;
    margin-right: 3px
}

#breadcrumb li:first-child {
    padding-left: 20px
}

#breadcrumb li a {
    display: inline-block;
    text-decoration: underline;
    color: #bf311a;
    transition: all .2s ease
}

#breadcrumb li a:hover,#breadcrumb li a:focus {
    text-decoration: none;
    color: #333
}

#breadcrumb .crumbsep {
    padding: 0 10px
}

h1.page-title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1.1;
    margin: 0 0 1rem 0
}

.page_content,#content {
    line-height: 1.825
}

.page_content:before,.page_content:after,#content:before,#content:after {
    content: " ";
    display: table
}

.page_content:after,#content:after {
    clear: both
}

.page_content>a.lfeditable+h2,.page_content>h2:first-child,#content>a.lfeditable+h2,#content>h2:first-child {
    padding-top: 0;
    margin-top: 0
}

.page_content a,#content a {
    color: #bf311a;
    text-decoration: underline
}

.page_content a:hover,.page_content a:focus,#content a:hover,#content a:focus {
    text-decoration: none
}

.page_content h2,.page_content h3,.page_content h4,.page_content h5,.page_content h6,#content h2,#content h3,#content h4,#content h5,#content h6 {
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1.1;
    margin: 0 0 .5rem
}

.page_content h2:before,.page_content h2:after,.page_content h3:before,.page_content h3:after,.page_content h4:before,.page_content h4:after,.page_content h5:before,.page_content h5:after,.page_content h6:before,.page_content h6:after,#content h2:before,#content h2:after,#content h3:before,#content h3:after,#content h4:before,#content h4:after,#content h5:before,#content h5:after,#content h6:before,#content h6:after {
    content: " ";
    display: table
}

.page_content h2:after,.page_content h3:after,.page_content h4:after,.page_content h5:after,.page_content h6:after,#content h2:after,#content h3:after,#content h4:after,#content h5:after,#content h6:after {
    clear: both
}

.page_content h2,#content h2 {
    font-size: 2rem
}

.page_content h3,#content h3 {
    font-size: 2rem;
    font-weight: 300
}

.page_content h4,#content h4 {
    font-size: 1.6rem;
    font-weight: 300
}

.page_content h5,#content h5 {
    font-size: 1.2rem
}

.page_content h6,#content h6 {
    font-size: 1rem
}

.page_content p,.page_content dl,.page_content ul,.page_content ol,.page_content table,.page_content blockquote,.page_content .onthispage,#content p,#content dl,#content ul,#content ol,#content table,#content blockquote,#content .onthispage {
    margin-bottom: 1.5em
}

.page_content p.introtext,#content p.introtext {
    font-size: 1.25rem;
    font-family: Georgia,Times,"Times New Roman",serif
}

.page_content p.noindent,#content p.noindent {
    margin: 0;
    padding: 0
}

.page_content p.hangindent,#content p.hangindent {
    padding-left: 25px;
    text-indent: -25px
}

.page_content ul,.page_content ol,#content ul,#content ol {
    margin-left: 20px
}

.page_content ul li,.page_content ol li,#content ul li,#content ol li {
    margin: 0 0 .5em
}

.page_content ul:not([type]),#content ul:not([type]) {
    list-style: disc
}

.page_content ul li ul,#content ul li ul {
    margin-bottom: 0;
    margin-top: .5em
}

.page_content ul li ul:not([type]),#content ul li ul:not([type]) {
    list-style: circle
}

.page_content ul li p,.page_content ul li table,#content ul li p,#content ul li table {
    font-size: 1em
}

.page_content ul.tightlist,#content ul.tightlist {
    list-style: none;
    margin-left: 0
}

.page_content ul.tightlist li,#content ul.tightlist li {
    margin: 0
}

.page_content ul.tightlist ul,#content ul.tightlist ul {
    list-style: none;
    margin: 0 0 0 25px
}

.page_content ul[type=circle],#content ul[type=circle] {
    list-style: circle
}

.page_content ul[type=disc],#content ul[type=disc] {
    list-style: disc
}

.page_content ul[type=square],#content ul[type=square] {
    list-style: square
}

.page_content ol:not([type]),#content ol:not([type]) {
    list-style: decimal
}

.page_content ol ol,#content ol ol {
    margin-top: .5em;
    margin-bottom: 0
}

.page_content ol ol:not([type]),#content ol ol:not([type]) {
    list-style: lower-alpha
}

.page_content ol ol ol:not([type]),#content ol ol ol:not([type]) {
    list-style: lower-roman
}

.page_content sup,.page_content sub,#content sup,#content sub {
    font-size: .75em;
    line-height: 1
}

.page_content sup,#content sup {
    vertical-align: super
}

.page_content sub,#content sub {
    vertical-align: sub
}

.page_content hr,#content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

.page_content blockquote,#content blockquote {
    margin: 2rem 0;
    background: #f3f5f8;
    padding: 30px 20px;
    border-left: 10px solid #fdb913
}

.page_content blockquote p,#content blockquote p {
    font-size: 17px;
    font-style: italic;
    line-height: 1.7;
    margin: 0 0 1em
}

.page_content blockquote cite,#content blockquote cite {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #444
}

.page_content blockquote cite:before,#content blockquote cite:before {
    content: "— "
}

.page_content .cola,#content .cola {
    width: 48%;
    float: left
}

.page_content .colb,#content .colb {
    width: 48%;
    float: right
}

@media(max-width: 767px) {
    .page_content .cola,.page_content .colb,#content .cola,#content .colb {
        width:auto;
        float: none
    }
}

.page_content table,#content table {
    width: 100%;
    border: 1px solid #dee2e6;
    border-top: none
}

.page_content table th,.page_content table td,#content table th,#content table td {
    padding: .5rem;
    border-top: 1px solid #dee2e6;
    text-align: left;
    vertical-align: top
}

.page_content table th,#content table th {
    font-weight: bold;
    background: #bf311a;
    color: #fff
}

.page_content table td img,#content table td img {
    vertical-align: top
}

.page_content table td p,.page_content table td li,#content table td p,#content table td li {
    margin: 0;
    font-size: 1em
}

.page_content table tr.areaheader td,.page_content table tr.areaheader,.page_content table tr.areasubheader td,.page_content table tr.areasubheader,.page_content table tr.listsum td,.page_content table tr.plangridtotal td,.page_content table tr.plangridsum td,.page_content table tr .areaheader,#content table tr.areaheader td,#content table tr.areaheader,#content table tr.areasubheader td,#content table tr.areasubheader,#content table tr.listsum td,#content table tr.plangridtotal td,#content table tr.plangridsum td,#content table tr .areaheader {
    font-weight: bold
}

.page_content table tr.areasubheader,.page_content table tr.areasubheader td,.page_content table tr td.areasubheader,#content table tr.areasubheader,#content table tr.areasubheader td,#content table tr td.areasubheader {
    font-style: italic
}

.page_content table tr.odd,#content table tr.odd {
    background: #ece9ea
}

.page_content table tr.orclass td,#content table tr.orclass td {
    padding-top: 0;
    border-top: none
}

.page_content table tr.orclass td.codecol,#content table tr.orclass td.codecol {
    padding-left: 2em
}

.page_content table tr td.hourscol,.page_content table tr th.hourscol,#content table tr td.hourscol,#content table tr th.hourscol {
    text-align: right;
    width: 10%;
    white-space: nowrap
}

.page_content table.hiddencourselist,#content table.hiddencourselist {
    display: none
}

.page_content table.sc_courselist td.codecol,#content table.sc_courselist td.codecol {
    width: 18%
}

.page_content table.sc_courselist td[colspan="2"]+td.hourscol,#content table.sc_courselist td[colspan="2"]+td.hourscol {
    width: 75px;
    white-space: nowrap
}

.page_content table .plangridterm th,#content table .plangridterm th {
    background: #e0dbdd;
    color: inherit;
    text-transform: uppercase;
    font-size: .85em
}

.page_content table.sorttable tr.odd,.page_content table.sorttable tr.even,#content table.sorttable tr.odd,#content table.sorttable tr.even {
    background: none
}

.page_content table.sorttable tr:nth-child(2n),#content table.sorttable tr:nth-child(2n) {
    background: #f5f5f5
}

.page_content table.sc_footnotes,#content table.sc_footnotes {
    border: 0;
    font-size: 15px
}

.page_content table.sc_footnotes td,#content table.sc_footnotes td {
    padding: 0 0 .75em 0;
    border: 0
}

.page_content table.sc_footnotes td.symcol,#content table.sc_footnotes td.symcol {
    width: 15px
}

.page_content table.sc_footnotes td ul,#content table.sc_footnotes td ul {
    margin-top: 7px;
    margin-bottom: 7px
}

.page_content table.sc_footnotes td li,#content table.sc_footnotes td li {
    font-size: 1em
}

.page_content ul.letternav,#content ul.letternav {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none
}

.page_content ul.letternav li,#content ul.letternav li {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin: 0 1px 1px 0
}

.page_content ul.letternav li:before,.page_content ul.letternav li:after,#content ul.letternav li:before,#content ul.letternav li:after {
    display: none
}

.page_content ul.letternav li a,.page_content ul.letternav li.inactive,#content ul.letternav li a,#content ul.letternav li.inactive {
    padding: .25em .6em;
    color: #333;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 1em;
    float: left;
    border: none;
    background: #bf311a;
    box-sizing: content-box
}

.page_content ul.letternav li a,#content ul.letternav li a {
    color: #fff;
    text-decoration: none;
    border: none;
    transition: all .2s ease
}

.page_content ul.letternav li a:hover,.page_content ul.letternav li a:active,.page_content ul.letternav li a:focus,#content ul.letternav li a:hover,#content ul.letternav li a:active,#content ul.letternav li a:focus {
    background: #9d2815
}

.page_content ul.letternav li.inactive,#content ul.letternav li.inactive {
    background: #eee
}

.page_content ul.letternav li.inactive a,#content ul.letternav li.inactive a {
    background: none;
    color: #333;
    padding: 0
}

.page_content ul.letternav li.inactive a:hover,.page_content ul.letternav li.inactive a:focus,#content ul.letternav li.inactive a:hover,#content ul.letternav li.inactive a:focus {
    background: none;
    cursor: text
}

.page_content img.imgleft,#content img.imgleft {
    padding: 0 10px 10px 0;
    float: left
}

.page_content img.imgright,#content img.imgright {
    padding: 0 0 10px 10px;
    float: right
}

.page_content img.imgcenter,#content img.imgcenter {
    padding: 10px;
    margin: 0 auto;
    display: block
}

.page_content .toggle,#content .toggle {
    padding: 0;
    margin: 0
}

.page_content .toggle:before,.page_content .toggle:after,#content .toggle:before,#content .toggle:after {
    display: none
}

.page_content .toggle button,#content .toggle button {
    width: 100%;
    text-align: left;
    background: none;
    text-transform: inherit;
    padding: 15px 10px 15px 30px;
    cursor: pointer;
    color: inherit;
    position: relative
}

.page_content .toggle button:before,#content .toggle button:before {
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 0;
    font-weight: normal;
    vertical-align: top;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #bf311a
}

.page_content .toggle button[aria-expanded=true]:before,#content .toggle button[aria-expanded=true]:before {
    content: ""
}

.page_content .toggle-wrap,#content .toggle-wrap {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6
}

.page_content .toggle-wrap+.toggle-wrap,#content .toggle-wrap+.toggle-wrap {
    border-top: none
}

.page_content .toggle-wrap .toggle-wrap,#content .toggle-wrap .toggle-wrap {
    border: none
}

.page_content .toggle-content,#content .toggle-content {
    margin: 15px 0;
    padding: 5px 0 15px 20px
}

.page_content .toggle-content *:last-child,#content .toggle-content *:last-child {
    margin-bottom: 0
}

.page_content .toggle-content[aria-hidden=true],#content .toggle-content[aria-hidden=true] {
    display: none
}

.page_content .toggle-content .toggle-content,#content .toggle-content .toggle-content {
    padding-left: 25px
}

.page_content .toggle-group,#content .toggle-group {
    margin-bottom: 25px
}

.page_content .fslaunch,#content .fslaunch {
    margin: 2rem 0
}

.page_content .fslaunch a,#content .fslaunch a {
    background-color: #bf311a;
    border: 1px solid #bf311a;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease
}

.page_content .fslaunch a:hover,.page_content .fslaunch a:focus,#content .fslaunch a:hover,#content .fslaunch a:focus {
    background-color: #9d2815;
    border: 1px solid #9d2815
}

.page_content .fslaunch a:after,#content .fslaunch a:after {
    content: "";
    font-family: FontAwesome;
    margin-left: 10px
}

.page_content .onthispage,#content .onthispage {
    border: 1px solid #dee2e6
}

.page_content .onthispage .otp-title,#content .onthispage .otp-title {
    font-weight: bold;
    padding: 10px;
    background: #ece9ea;
    border-bottom: 1px solid #dee2e6
}

.page_content .onthispage ul,#content .onthispage ul {
    font-size: .9rem;
    margin: 0;
    padding: 10px;
    list-style: none
}

.page_content .onthispage ul li,#content .onthispage ul li {
    padding: 4px 0;
    margin: 0
}

.page_content .onthispage ul li:last-child,#content .onthispage ul li:last-child {
    padding-bottom: 0
}

.page_content .onthispage ul li a,#content .onthispage ul li a {
    color: #bf311a;
    text-decoration: underline
}

.page_content .onthispage ul li a:hover,.page_content .onthispage ul li a:focus,#content .onthispage ul li a:hover,#content .onthispage ul li a:focus {
    text-decoration: none
}

.page_content .onthispage ul ul,#content .onthispage ul ul {
    list-style-type: square !important;
    margin: 0 0 0 30px;
    padding: 0
}

.archive-message,.shared-message,.search-message {
    background: #fafafa;
    line-height: 1.5;
    margin-bottom: 1.5rem
}

.archive-message p,.shared-message p,.search-message p {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px
}

.archive-message a,.shared-message a,.search-message a {
    color: #bf311a;
    text-decoration: underline
}

.archive-message a:hover,.archive-message a:focus,.shared-message a:hover,.shared-message a:focus,.search-message a:hover,.search-message a:focus {
    text-decoration: none
}

#fssearchresults .searchresult {
    margin-bottom: 20px
}

#fssearchresults .searchresult+.searchresult {
    padding-top: 20px;
    border-top: 1px solid #dee2e6
}

#fssearchresults h2,#fssearchresults h3 {
    margin: 0;
    padding: 0;
    text-transform: none
}

#fssearchresults h2:before,#fssearchresults h2:after,#fssearchresults h3:before,#fssearchresults h3:after {
    display: none
}

#fssearchresults h2 {
    font-size: 1rem
}

#fssearchresults h2 a {
    font-size: 1.3rem;
    text-decoration: none
}

#fssearchresults h3 {
    margin: 5px 0 0;
    font-size: .8rem;
    text-transform: uppercase
}

#fssearchresults p {
    margin: 15px 0
}

#fssearchresults p.noindent {
    margin: 3px 0
}

#fssearchresults p.search-url {
    margin: 5px 0 0;
    font-size: .9rem
}

#fssearchresults p.search-url a {
    word-break: break-all
}

#archive-selector {
    margin-bottom: 25px
}

#archive-selector label {
    font-size: .85rem
}

#archive-selector select {
    margin: 0 10px
}

#archive-selector button {
    cursor: pointer;
    background: #bf311a;
    color: #fff;
    border-radius: 10px;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: .75rem
}

#tabs {
    margin: 0 0 2rem
}

#tabs ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dee2e6;
    position: relative
}

#tabs li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 0 -1px
}

#tabs li:only-child {
    float: none
}

#tabs li:before,#tabs li:after {
    display: none
}

#tabs li a,#tabs li button {
    cursor: pointer;
    text-transform: none;
    text-align: left;
    display: block;
    text-decoration: none;
    padding: 15px 18px;
    background: #ece9ea;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #ece9ea;
    border-top: 3px solid transparent;
    border-bottom-color: #dee2e6;
    width: 100%;
    box-sizing: border-box
}

#tabs li a:hover,#tabs li a:focus,#tabs li button:hover,#tabs li button:focus {
    background: #bf311a;
    border-color: #bf311a;
    color: #fff
}

#tabs li.active>a,#tabs li.active>button,#tabs li.active-sub>a,#tabs li.active-sub>button {
    color: #222;
    background: #fff;
    border-color: #dee2e6;
    border-top: 3px solid #bf311a;
    border-bottom-color: transparent
}

#tabs li.tab-overflow {
    position: relative
}

#tabs li.tab-overflow>button {
    position: relative;
    padding-right: 32px
}

#tabs li.tab-overflow>button:after {
    content: "";
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 0;
    width: 14px;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7px
}

#tabs li.tab-overflow ul {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 50;
    right: 105%;
    top: calc(100% - 1px);
    white-space: nowrap
}

#tabs li.tab-overflow ul a {
    background: #ece9ea;
    border: none;
    border-left: 3px solid transparent;
    text-align: right
}

#tabs li.tab-overflow ul a:hover,#tabs li.tab-overflow ul a:focus {
    background: #bf311a;
    color: #fff
}

#tabs li.tab-overflow.tab-solo button {
    background: #bf311a;
    color: #fff
}

#tabs li.tab-overflow.tab-solo ul,#tabs li.tab-overflow.tab-solo ul a {
    text-align: left
}

#tabs li.tab-overflow li {
    float: none;
    border: none;
    margin: 0;
    padding: 0
}

#tabs li.tab-overflow li.active>a {
    background: #ece9ea;
    border-left-color: #bf311a;
    color: #000
}

#tabs li.tab-overflow.open ul {
    position: absolute;
    right: 0
}

#tabs.condense li.tab-overflow {
    position: static
}

#tabs.condense li.tab-overflow ul {
    white-space: normal;
    width: 100%
}

#footer {
    background: #414042;
    color: #fff;
    font-size: 14px;
    padding: 0
}

#footer .ankle {
    background-color: #ece9ea;
    width: 100%;
    padding: 1.25rem 0
}

#footer .ankle h3 {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1.1;
    margin-bottom: .5rem
}

#footer .ankle a {
    color: #bf311a;
    text-decoration: underline
}

#footer .ankle a:hover,#footer .ankle a:focus {
    text-decoration: none
}

#footer .ankle ul {
    list-style: none;
    margin-bottom: 1rem;
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 300
}

#footer .boilerplate {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.825;
    padding: 50px 0 10px
}

#footer .boilerplate a {
    color: #fff;
    text-decoration: underline;
    transition: all .2s ease
}

#footer .boilerplate a:hover,#footer .boilerplate a:focus {
    color: #fdb913;
    text-decoration: none
}

#footer .boilerplate .policy ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center
}

#footer .boilerplate .policy li+li {
    margin-left: 1em;
    padding-left: 1em;
    position: relative
}

#footer .boilerplate .policy li+li::before {
    content: "|";
    color: #fdb913;
    position: absolute;
    left: 0
}

#footer .boilerplate .social a {
    margin-right: 22px
}

#footer .wrap.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 30px
}

#footer .wrap.flex .col {
    flex: 0 0 100%;
    padding: 0 15px
}

@media(min-width: 768px) {
    #footer .wrap.flex .col {
        flex:0 0 25%
    }
}

#footer .wrap.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px 0;
    grid-template-areas: "policy social" "eoe address"
}

#footer .wrap.grid>* {
    padding: 0 15px
}

#footer .wrap.grid .social,#footer .wrap.grid .address {
    border-left: 1px solid #fff
}

#footer .wrap.grid .policy {
    grid-area: policy
}

#footer .wrap.grid .social {
    grid-area: social
}

#footer .wrap.grid .eoe {
    grid-area: eoe
}

#footer .wrap.grid .address {
    grid-area: address
}

a#totop {
    display: block;
    text-decoration: none;
    background: transparent;
    color: #bf311a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 99;
    right: 25px;
    bottom: -55px;
    transition: bottom .2s
}

a#totop:after {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    top: 46%;
    left: 51%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 22px
}

a#totop.show {
    bottom: 25px
}

#print-btn {
    display: block;
    text-align: left;
    background: #ece9ea;
    border-bottom: 1px solid rgba(0,0,0,.125);
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: none
}

#print-btn:hover,#print-btn:focus {
    background: #bf311a;
    color: #fff
}

#print-btn i {
    margin-right: 7px
}

#lfjs_modaldiv {
    opacity: .8 !important;
    background: #000 !important
}

#print-dialog {
    padding: 0;
    width: 350px;
    text-align: left;
    background: #fff;
    border: 1px solid #dee2e6;
    border-bottom-width: 5px;
    border-radius: 3px;
    line-height: 1.5;
    font-family: inherit !important
}

@media(max-width: 575px) {
    #print-dialog {
        width:90%
    }
}

.no-js #print-dialog {
    display: block;
    position: relative
}

#print-dialog .print-header {
    padding: 10px 20px;
    background: #bf311a;
    position: relative
}

#print-dialog .print-header button {
    position: absolute;
    right: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    line-height: 1;
    background: #808285;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer
}

#print-dialog .print-header button:after {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-color: #bf311a;
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 348.333 348.334" style="enable-background:new 0 0 348.333 348.334;" fill="rgb(255,255,255)"><path d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85   c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563   c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85   l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554   L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"/></svg>');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center center;
    border-radius: 50%;
    line-height: normal;
    font-family: FontAwesome;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

#print-dialog .print-header h2 {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff
}

#print-dialog .print-body {
    padding: 20px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    font-size: 15px;
    max-height: 20rem;
    overflow-y: auto
}

#print-dialog .print-body li+li {
    margin-top: 20px
}

#print-dialog .print-body a {
    color: #bf311a;
    text-decoration: underline
}

#print-dialog .print-body a:hover,#print-dialog .print-body a:focus {
    text-decoration: none
}

#print-dialog .print-body p.option-desc {
    font-size: 14px
}

.lfjsbubble .courseblock,.page_content .courseblock,#content .courseblock {
    margin-bottom: 30px
}

.lfjsbubble .courseblock p.noindent,.page_content .courseblock p.noindent,#content .courseblock p.noindent {
    margin: 0 0 3px;
    padding: 0
}

.lfjsbubble .courseblock p.courseblocktitle,.page_content .courseblock p.courseblocktitle,#content .courseblock p.courseblocktitle {
    font-size: 18px
}

.lfjsbubble .courseblock span.credits,.page_content .courseblock span.credits,#content .courseblock span.credits {
    float: right
}

.lfjsbubble .courseblock {
    margin-bottom: 0
}

.lfjsbubble .courseblock a {
    color: #bf311a
}

html.no-js .accessible {
    position: relative;
    left: 0
}

html.no-js #print-dialog {
    display: block;
    position: relative
}

html.no-js #totop {
    opacity: 1
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    background-color: #fff;
    color: #000
}

.pagebreak {
    height: 0;
    line-height: 0
}
